@import "tailwindcss";

:root {
  --main-primary: #6d28d9;
  --main-primary-light: #8b5cf6;
  --main-primary-lighter: #a78bfa;
  --main-secondary: #030305;
  --main-secondary-light: #090916;
  --main-tertiary: #0f0f14;
  --main-tertiary-light: #15151e;
  --text-primary: #ffffff;
  --text-primary-light: #f8fafc;
  --text-errors: #ef4444;
  --text-secondary: #a1a1aa;
  --text-secondary-light: #71717a;
}


body{
  color: var(--text-primary);
  background: var(--main-secondary-light);
  width: 100vw;
  height: max-content;
  min-height: 540px;
  overflow-x: hidden;
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
}

.scrollbar-hide{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}